.landingContenedorFlex{

    width: 100%;
    margin-top: 70px;

}
.landingContenedorImagen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
}

.landingTitle{
    margin: 0px;
    text-align: center;
}
.landingContenedorBtn{
    text-align: center;
    margin-top: 50px;
}

.landingBtn{

    font-size: 20px;
    font-family: sans-serif;
    padding: 10px 30px;
    border: 2px solid var(--rojo-principal);
    border-radius: 10px;
    background-color: var(--rojo-principal);
    color: var(--blanco-principal);
    cursor: pointer;
    outline: none;

}

.landingBtn:hover{
    background-color: var(--rojo-hover);
    transition: background-color 0.5s ease;
}
.landingBtn:active{
    border-color: var(--rojo-hover);
}